<h1>Chat Socket.io</h1>

<div>
    <form class="chat">
        <input type="text" id="chatBox">
        <button type="submit" id="botonChat">Enviar</button>
    </form>
</div>

<div>
    <p id="parrafosMensajes">parrafosMensajes</p>
</div>