<h1>Bienvenido {{name}}</h1>
<span>Rol tipo: {{rol}}</span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Code</th>
      </tr>
    </thead>
    <tbody class="table-group-divider" id="tableBody">
    </tbody>
  </table>

<br><br>

<form action="/static/session/logout" method="post">
    <input type="submit" value="logout" />
</form>