<h1>Crear Nuevo Producto</h1>
<form id="idForm">
    <label for="title">Name</label>
    <input type="text" required name="title">
    <label for="description">Description</label>
    <input type="text" required name="description">
    <label for="category">Category</label>
    <input type="text" required name="category">
    <label for="price">Price</label>
    <input type="number" required name="price">
    <label for="stock">Stock</label>
    <input type="number" required name="stock">
    <label for="code">Code</label>
    <input type="text" required name="code">
    <button type="submit">Enviar</button>
</form><br><br>

<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody class="table-group-divider" id="tableBody">
  </tbody>
</table>